/*
	BOX-SHADOW
*/

[[@foreach box-shadow]]
.[[@use prefix]]shadow-[[@index]] {
	-webkit-box-shadow: [[@value]];
	        box-shadow: [[@value]];
}
[[/@foreach]]

[[@responsive]]
	[[@foreach box-shadow]]
	.[[@use prefix]]shadow-[[@index]]-[[@screen-size]] {
			-webkit-box-shadow: [[@value]];
		            box-shadow: [[@value]];
	}
	[[/@foreach]]
[[/@responsive]]