/*
	COORDINATES
*/

[[@foreach coordinates]]
.[[@use prefix]]top-[[@index]] { top: [[@value]]; }
.[[@use prefix]]right-[[@index]] { right: [[@value]]; }
.[[@use prefix]]bottom-[[@index]] { bottom: [[@value]]; }
.[[@use prefix]]left-[[@index]] { left: [[@value]]; }
[[/@foreach]]

.[[@use prefix]]absolute--fill {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

[[@responsive]]
	[[@foreach coordinates]]
	.[[@use prefix]]top-[[@index]]-[[@screen-size]] { top: [[@value]]; }
	.[[@use prefix]]right-[[@index]]-[[@screen-size]] { right: [[@value]]; }
	.[[@use prefix]]bottom-[[@index]]-[[@screen-size]] { bottom: [[@value]]; }
	.[[@use prefix]]left-[[@index]]-[[@screen-size]] { left: [[@value]]; }
	[[/@foreach]]

	.[[@use prefix]]absolute--fill-[[@screen-size]] {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
[[/@responsive]]
