/*
	FLEXBOX
*/

.[[@use prefix]]flex { display: flex; }
.[[@use prefix]]inline-flex { display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.[[@use prefix]]flex-auto {
	flex: 1 1 auto;
	min-width: 0; /* 1 */
	min-height: 0; /* 1 */
}

.[[@use prefix]]flex-none { flex: none; }

.[[@use prefix]]flex-column  { flex-direction: column; }
.[[@use prefix]]flex-row     { flex-direction: row; }
.[[@use prefix]]flex-wrap    { flex-wrap: wrap; }
.[[@use prefix]]flex-nowrap    { flex-wrap: nowrap; }
.[[@use prefix]]flex-wrap-reverse    { flex-wrap: wrap-reverse; }
.[[@use prefix]]flex-column-reverse  { flex-direction: column-reverse; }
.[[@use prefix]]flex-row-reverse     { flex-direction: row-reverse; }

.[[@use prefix]]items-start    { align-items: flex-start; }
.[[@use prefix]]items-end      { align-items: flex-end; }
.[[@use prefix]]items-center   { align-items: center; }
.[[@use prefix]]items-baseline { align-items: baseline; }
.[[@use prefix]]items-stretch  { align-items: stretch; }

.[[@use prefix]]self-start    { align-self: flex-start; }
.[[@use prefix]]self-end      { align-self: flex-end; }
.[[@use prefix]]self-center   { align-self: center; }
.[[@use prefix]]self-baseline { align-self: baseline; }
.[[@use prefix]]self-stretch  { align-self: stretch; }

.[[@use prefix]]justify-start   { justify-content: flex-start; }
.[[@use prefix]]justify-end     { justify-content: flex-end; }
.[[@use prefix]]justify-center  { justify-content: center; }
.[[@use prefix]]justify-between { justify-content: space-between; }
.[[@use prefix]]justify-around  { justify-content: space-around; }

.[[@use prefix]]content-start   { align-content: flex-start; }
.[[@use prefix]]content-end     { align-content: flex-end; }
.[[@use prefix]]content-center  { align-content: center; }
.[[@use prefix]]content-between { align-content: space-between; }
.[[@use prefix]]content-around  { align-content: space-around; }
.[[@use prefix]]content-stretch { align-content: stretch; }

.[[@use prefix]]order-0 { order: 0; }
.[[@use prefix]]order-1 { order: 1; }
.[[@use prefix]]order-2 { order: 2; }
.[[@use prefix]]order-3 { order: 3; }
.[[@use prefix]]order-4 { order: 4; }
.[[@use prefix]]order-5 { order: 5; }
.[[@use prefix]]order-6 { order: 6; }
.[[@use prefix]]order-7 { order: 7; }
.[[@use prefix]]order-8 { order: 8; }
.[[@use prefix]]order-last { order: 99999; }

.[[@use prefix]]flex-grow-0 { flex-grow: 0; }
.[[@use prefix]]flex-grow-1 { flex-grow: 1; }

.[[@use prefix]]flex-shrink-0 { flex-shrink: 0; }
.[[@use prefix]]flex-shrink-1 { flex-shrink: 1; }

[[@responsive]]
	.[[@use prefix]]flex-[[@screen-size]] { display: flex; }
	.[[@use prefix]]inline-flex-[[@screen-size]] { display: inline-flex; }
	.[[@use prefix]]flex-auto-[[@screen-size]] {
		flex: 1 1 auto;
		min-width: 0; /* 1 */
		min-height: 0; /* 1 */
	}
	.[[@use prefix]]flex-none-[[@screen-size]] { flex: none; }
	.[[@use prefix]]flex-column-[[@screen-size]] { flex-direction: column; }
	.[[@use prefix]]flex-row-[[@screen-size]] { flex-direction: row; }
	.[[@use prefix]]flex-wrap-[[@screen-size]] { flex-wrap: wrap; }
	.[[@use prefix]]flex-nowrap-[[@screen-size]] { flex-wrap: nowrap; }
	.[[@use prefix]]flex-wrap-reverse-[[@screen-size]] { flex-wrap: wrap-reverse; }
	.[[@use prefix]]flex-column-reverse-[[@screen-size]] { flex-direction: column-reverse; }
	.[[@use prefix]]flex-row-reverse-[[@screen-size]] { flex-direction: row-reverse; }
	.[[@use prefix]]items-start-[[@screen-size]] { align-items: flex-start; }
	.[[@use prefix]]items-end-[[@screen-size]] { align-items: flex-end; }
	.[[@use prefix]]items-center-[[@screen-size]] { align-items: center; }
	.[[@use prefix]]items-baseline-[[@screen-size]] { align-items: baseline; }
	.[[@use prefix]]items-stretch-[[@screen-size]] { align-items: stretch; }

	.[[@use prefix]]self-start-[[@screen-size]] { align-self: flex-start; }
	.[[@use prefix]]self-end-[[@screen-size]] { align-self: flex-end; }
	.[[@use prefix]]self-center-[[@screen-size]] { align-self: center; }
	.[[@use prefix]]self-baseline-[[@screen-size]] { align-self: baseline; }
	.[[@use prefix]]self-stretch-[[@screen-size]] { align-self: stretch; }

	.[[@use prefix]]justify-start-[[@screen-size]] { justify-content: flex-start; }
	.[[@use prefix]]justify-end-[[@screen-size]] { justify-content: flex-end; }
	.[[@use prefix]]justify-center-[[@screen-size]] { justify-content: center; }
	.[[@use prefix]]justify-between-[[@screen-size]] { justify-content: space-between; }
	.[[@use prefix]]justify-around-[[@screen-size]] { justify-content: space-around; }

	.[[@use prefix]]content-start-[[@screen-size]] { align-content: flex-start; }
	.[[@use prefix]]content-end-[[@screen-size]] { align-content: flex-end; }
	.[[@use prefix]]content-center-[[@screen-size]] { align-content: center; }
	.[[@use prefix]]content-between-[[@screen-size]] { align-content: space-between; }
	.[[@use prefix]]content-around-[[@screen-size]] { align-content: space-around; }
	.[[@use prefix]]content-stretch-[[@screen-size]] { align-content: stretch; }

	.[[@use prefix]]order-0-[[@screen-size]] { order: 0; }
	.[[@use prefix]]order-1-[[@screen-size]] { order: 1; }
	.[[@use prefix]]order-2-[[@screen-size]] { order: 2; }
	.[[@use prefix]]order-3-[[@screen-size]] { order: 3; }
	.[[@use prefix]]order-4-[[@screen-size]] { order: 4; }
	.[[@use prefix]]order-5-[[@screen-size]] { order: 5; }
	.[[@use prefix]]order-6-[[@screen-size]] { order: 6; }
	.[[@use prefix]]order-7-[[@screen-size]] { order: 7; }
	.[[@use prefix]]order-8-[[@screen-size]] { order: 8; }
	.[[@use prefix]]order-last-[[@screen-size]] { order: 99999; }

	.[[@use prefix]]flex-grow-0-[[@screen-size]] { flex-grow: 0; }
	.[[@use prefix]]flex-grow-1-[[@screen-size]] { flex-grow: 1; }

	.[[@use prefix]]flex-shrink-0-[[@screen-size]] { flex-shrink: 0; }
	.[[@use prefix]]flex-shrink-1-[[@screen-size]] { flex-shrink: 1; }
[[/@responsive]]
