/*
	LINKS
*/

.[[@use prefix]]link {
	text-decoration: [[@use links text-decoration]];
}

.[[@use prefix]]link,
.[[@use prefix]]link:link,
.[[@use prefix]]link:visited,
.[[@use prefix]]link:hover,
.[[@use prefix]]link:active,
.[[@use prefix]]link:focus {
	-webkit-transition: [[@use links transition]];
	transition: [[@use links transition]];
}

.[[@use prefix]]link:focus {
	outline: [[@use links outline]];
}
