/*
	MAX WIDTHS
*/

/* Max Width Percentages */

[[@foreach max-widths:percentages]]
.[[@use prefix]]mw-[[@index]] { max-width: [[@value]]%; }
[[/@foreach]]

/* Max Width Scale */

[[@foreach max-widths]]
.[[@use prefix]]mw[[@index]] { max-width: [[@value]]; }
[[/@foreach]]

/* Max Width String Properties */

[[@foreach max-widths:extras]]
.[[@use prefix]]mw-[[@index]] { max-width: [[@value]]; }
[[/@foreach]]

[[@responsive]]
	[[@foreach max-widths:percentages]]
	.[[@use prefix]]mw-[[@index]]-[[@screen-size]] { max-width: [[@value]]%; }
	[[/@foreach]]

	[[@foreach max-widths]]
	.[[@use prefix]]mw[[@index]]-[[@screen-size]] { max-width: [[@value]]; }
	[[/@foreach]]

	[[@foreach max-widths:extras]]
	.[[@use prefix]]mw-[[@index]]-[[@screen-size]] { max-width: [[@value]]; }
	[[/@foreach]]
[[/@responsive]]