/*
	NESTED
*/

.[[@use prefix]]nested-copy-line-height p,
.[[@use prefix]]nested-copy-line-height ul,
.[[@use prefix]]nested-copy-line-height ol {
	line-height: [[@use nested copy-line-height]];
}

.[[@use prefix]]nested-headline-line-height h1,
.[[@use prefix]]nested-headline-line-height h2,
.[[@use prefix]]nested-headline-line-height h3,
.[[@use prefix]]nested-headline-line-height h4,
.[[@use prefix]]nested-headline-line-height h5,
.[[@use prefix]]nested-headline-line-height h6 {
	line-height: [[@use nested headline-line-height]];
}

.[[@use prefix]]nested-list-reset ul,
.[[@use prefix]]nested-list-reset ol {
	padding-left: 0;
	margin-left: 0;
	list-style-type: none;
}

.[[@use prefix]]nested-copy-indent p+p {
	text-indent: [[@use nested copy-indent]];
	margin-top: 0;
	margin-bottom: 0;
}

.[[@use prefix]]nested-copy-separator p+p {
	margin-top: [[@use nested copy-separator]];
}

.[[@use prefix]]nested-img img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.[[@use prefix]]nested-links a {
	color: [[@use nested links-color]];
	-webkit-transition: [[@use nested links-transition]];
	transition: [[@use nested links-transition]];
}

.[[@use prefix]]nested-links a:hover,
.[[@use prefix]]nested-links a:focus {
	color: [[@use nested links-color-hover]];
	-webkit-transition: [[@use nested links-transition]];
	transition: [[@use nested links-transition]];
}
