/*
	POSITIONING
*/

.[[@use prefix]]static { position: static; }
.[[@use prefix]]relative { position: relative; }
.[[@use prefix]]absolute { position: absolute; }
.[[@use prefix]]fixed { position: fixed; }

[[@responsive]]
	.[[@use prefix]]static-[[@screen-size]] { position: static; }
	.[[@use prefix]]relative-[[@screen-size]] { position: relative; }
	.[[@use prefix]]absolute-[[@screen-size]] { position: absolute; }
	.[[@use prefix]]fixed-[[@screen-size]] { position: fixed; }
[[/@responsive]]