/*
	ROTATIONS
*/

[[@foreach rotations]]
.[[@use prefix]]rotate-[[@index]] {
	-webkit-transform: rotate([[@value]]);
	-ms-transform: rotate([[@value]]);
	transform: rotate([[@value]]);
}
[[/@foreach]]

[[@responsive]]
	[[@foreach rotations]]
	.[[@use prefix]]rotate-[[@index]]-[[@screen-size]] {
		-webkit-transform: rotate([[@value]]);
		-ms-transform: rotate([[@value]]);
		transform: rotate([[@value]]);
	}
	[[/@foreach]]
[[/@responsive]]
