/*
	VERTICAL ALIGN
*/

.[[@use prefix]]v-base { vertical-align: baseline; }
.[[@use prefix]]v-mid { vertical-align: middle; }
.[[@use prefix]]v-top { vertical-align: top; }
.[[@use prefix]]v-btm { vertical-align: bottom; }

[[@responsive]]
	.[[@use prefix]]v-base-[[@screen-size]] { vertical-align: baseline; }
	.[[@use prefix]]v-mid-[[@screen-size]] { vertical-align: middle; }
	.[[@use prefix]]v-top-[[@screen-size]] { vertical-align: top; }
	.[[@use prefix]]v-btm-[[@screen-size]] { vertical-align: bottom; }
[[/@responsive]]