/*
	VISIBILITY
*/

.[[@use prefix]]clip {
	position: fixed !important;
	_position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

[[@responsive]]
	.[[@use prefix]]clip-[[@screen-size]] {
		position: fixed !important;
		_position: absolute !important;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
	}
[[/@responsive]]