/*
	WHITE SPACE
*/

.[[@use prefix]]ws-normal { white-space: normal; }
.[[@use prefix]]nowrap { white-space: nowrap; }
.[[@use prefix]]pre { white-space: pre; }

[[@responsive]]
	.[[@use prefix]]ws-normal-[[@screen-size]] { white-space: normal; }
	.[[@use prefix]]nowrap-[[@screen-size]] { white-space: nowrap; }
	.[[@use prefix]]pre-[[@screen-size]] { white-space: pre; }
[[/@responsive]]